$-color-primary: #27ae60;
$-color-secondary: #ff4081;
$-color-white: #ffffff;
$-color-black: #000000;
$-color-dark-1: #535353;
$-color-dark-2: #212121;
$-color-dark-3: #171717;
$-border-sm: 0.5rem;
