@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

p {
	font-size: 0.8rem;
}

/* title styles*/
.title {
	font-size: 3rem;
	text-align: center;
	margin: 5rem;
}
